.feature-block,
.testimony-block,
.contact-block
{
  padding: 30px 0;
  h2 {
    font-weight: 100;
  }
}

.feature-block {
  background-color: $darknavy;
  color: $white;
}

a.feature-link {
  text-decoration: none;
  margin: 30px 0;
  padding: 15px 0;
  color: $white;
  i,.fa {
    font-size: 90px;
  }
  span {
    font-size: 20px;
    display: block;
    margin-top: 15px;
  }
  &:hover,
  &:focus {
    color: $red2;
  }
}

.testimony-block {
  background-color: $red2;
}

a.testimony-link {
  height: 200px;
  margin: 30px 0;
  padding: 15px 0;
  color: $white;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  .testi-logo {
    display: block;
    margin-bottom: 15px;
  }
  .testi-text {
    display: block;
  }
  &:hover,
  &:focus {

  }
}

.contact-block {
  background-color: $white;
  h2 {
    margin-bottom: 30px;
  }
  .btn-contact {
    margin: 10px;
    text-transform: uppercase;
  }
}