// variables
$black: #000000;
$white: #ffffff;
$gray4: #444444;
$red2: #c25239;

$red3: #ec1c24;
$red4: #870d10;

$orange2: #f6aa5c;
$orange3: #e56f2b;

$blue: #0071be; 
$darknavy: #2a3643;

$lg: min-width 1200px;
$md: min-width 992px;
$sm: min-width 768px;

$blue-gradient: linear-gradient(to right, #1e5799 0%,#7db9e8 100%);

$red-gradient: linear-gradient(to right, #dc1a22 0%,#840d10 100%);

$brown-gradient: linear-gradient(to right, rgba(137,90,38,1) 0%,rgba(40,24,9,1) 100%);